<%= form_for([:manage, @manage_event]) do |f| %>
  <% if @manage_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@manage_event.errors.count, "error") %> prohibited this manage_event from being saved:</h2>

      <ul>
      <% @manage_event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div><%= f.label :name %><br />
  <%= f.text_field :name %></div>

  <div><%= f.label :city %><br />
  <%= f.text_field :city %></div>


  <div><%= f.label :state %><br />
  <%= f.text_field :state %></div>

  <div class="actions">
    <%= f.submit :class => "green_button" %>
  </div>
<% end %>

<%= link_to "Add Instructor(s)", 
	{:controller => "manage/instructors", 
	:action => "new"},
	:rel => "facebox"%>
<br>
<%= link_to "Add Music Information",
	{:controller => "manage/musics",
	:action => "new"},
	:rel => "facebox" %>
<br>
<%= link_to "Add Venue", 
	{:controller => "manage/venues",
	:action => "new"},
	:rel => "facebox" %>
	
	<br>
<%= link_to "Add Schedule", 
	{:controller => "manage/schedules",
	:action => "new"},
	:rel => "facebox"%>

<br>