<!DOCTYPE html>
<html>
<head>
  <title>SwingLX</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if request.path =~ /\/manage/%>
	<ul class="hmenu">
	  <%= render :partial => 'devise/menu/registration_items' %>
	  <%= render :partial => 'devise/menu/login_items' %>
	</ul>
<% end %>

<%= yield %>

</body>
</html>
